/* navbar css */

/* extra */
.outlet{
  background-color: #F8FAFC;
  min-height: 100vh;
}
/* 
.about-page{
  background-color: #F8FAFC;
} */

/* about page css */


/* error page */

/* single page error */



/* cocktail card css */


/* loading page css */

/* cocktail css */

/* newsletter */

/* search-form */
